@model Escuela
@{
    ViewData["Title"] = "Información Escuela";
}

<div>
    <h1 class="display-4">Escuela</h1>
	<h3>Nombre: @Model.Nombre</h3>
	<p>Año fundación: @Model.AñoFundación</p>
</div>
