@model List<Alumno>

@{
    ViewData["Title"] = "Información Alumnos";
}
 
<div>
	<h1 class="display-4">@ViewData["Title"]</h1>
	
	<partial name="ListaObjetosEscuela" />

	<p>ViewBag: @ViewBag.Fecha</p>
</div>
@* Comentarios Razor *@
